.profilePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bio {
  color: DodgerBlue;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.name {
  color: cornflowerblue;
}

.postOne {
  display: inline;
  float: left;
}

.postTwo {
  display: inline;
}

.postThree {
  display: inline;
  float: right;
}

.postDiv {
  text-align: center;
}
